/* CSS for all */
@font-face {
    font-family: 'Netflix Sans';
    src: url(fonts/NetflixSans.otf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Sans', sans-serif;
}

.line{
    height: 8px;
    background-color: gray;
    opacity: 0.4;
    border: inherit;
}

body{
    background-color: black;
    color: white;
}

h1{
    font-size: 3.10rem;
    max-width: 640px;
    margin: 0 auto;
    line-height: 1.1;
    font-weight: 680;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 26px;
    font-weight: 400;
}

h4{
    font-size: 19px;
    font-weight: 400;
}

button{
    background-color: #e50914;
    color: #fff;
    border: none;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    min-height: 40px;
}

/* Header Styling */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.head{
    margin: 7.5rem;
    width: 100%;
    display: flex;
    height: 5.375rem;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 200px;
}

#logo img{
    width: 9.25rem;
}

header a{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 550;
    padding: 7px 17px;
    border-radius: 2px;
}
/* Section1 Styling */
section{
    width: 100%;
    border-bottom: 8px solid var(--section-border-color);
    padding: 48px 45px;
}

#first{
    position: relative;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0,4);
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 1.5), transparent 60%, rgba(0, 0, 0, 1.8) );
    z-index: 1;
}

#first .first_slide{
    width: 100%;
    max-width: 950px;
    text-align: center;
    z-index: 2;
    margin: 13rem auto 7rem auto;
}

#first .first_slide h3{
    margin: 16px 0;
}

.heading h1{
    font-size: 3rem;
    max-width: none;
    /* font-weight: 795; */
    font-family: 'Golos Text', sans-serif;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px;
    width: 100%;
}

.login h4{
    margin: 20px 0;
    text-align: center;
    font-weight: 400;
    padding: 0 5%;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.login .input_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .input_container .input_box{
    width: 44%;
    position: relative;
    max-width: 500px;
    max-width: 36.625rem;
}

.input_container .input_box input{
    width: 94%;
    height: 47px;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 55%);
    color: white;
}

.input_box label{
    position: absolute;
    left: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.input_box input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #ccc, 0 0 0 2px blue;
  }

.input_box input:focus + label,
.input_box input:valid + label{
    font-size: 13px;
    font-weight: 500;
    top: 6px;
    transform: translateY(0);
}

.input_container button{
    min-height: 47px;
    padding: 0 30px;
    border-left: 1px solid #333;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.gg-chevron-right{
    height: 24px !important;
}

.gg-chevron-right::after {
    width: 11px !important;
    height: 11px !important;
}

.input_container button:hover{
    background-color: #f40612;
}

.input_container button:active{
    background-color: #bb0a12;
}

/* Section2 Styling */
.section2{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

#sec2{
    width: 55%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: auto;
    float: left;
}

h2{
    margin-bottom: 24px;
}

#watch_on_tv{
    display: flex;
    align-items: center;
}

.image2 img{
    width: 100%;
}

.visual2{
    height: auto;
    position: relative;
    flex-direction: row;
}

.video1 video{
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.video1{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 20%;
    left: 13%;
    display: block;
}

.image2 {
    background-color: transparent;
    position: relative;
    display: block;
    justify-content: center;
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    float: right;
    z-index: 3;
  }

#sec2, #sec4{
    padding: 0 3rem 0 0;
}

.section3{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graphic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 2rem;
    background-color: black;
    border: 2px solid #333333;
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
}

.image3{
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.image3 img{
    width: 117%;
}

.image3a{
    margin: 0 1rem 0 0;
}

.image3a img{
    height: 4.5rem;
}

.txt1{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.txt2{
    font-size: 0.875rem;
    font-weight: 400;
    color: #0071eb;
}

.icon2{
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif);
    height: 3.75rem;
    width: 3.75rem;
    outline: 2px solid rgba(0, 0, 0, 1);
    outline-offset: -2px;
    display: block;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
}

.section4{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sec4{
    width: 55%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: auto;
    float: left;
}

#watch_everywhere{
    display: flex;
    align-items: center;
}

.visual4{
    height: auto;
    position: relative;
    flex-direction: row;
}

.video3 video{
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.video3{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 65%;
    max-height: 60%;
    position: absolute;
    top: 8%;
    left: 17%;
    display: block;
}

.image4 {
    background-color: transparent;
    position: relative;
    display: block;
    justify-content: center;
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    float: right;
    z-index: 3;
}

.section5{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section3, #section5{
    flex-direction: row-reverse;
}

.image3, .image5{
    margin-right: 3rem;
}

image5 img{
    width: 30rem;
}

.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#faq h2{
    text-align: center;
}

#faq ul{
    margin: 2rem auto;
    width: 75%;
    max-width: 815px;
}

#faq ul li{
    list-style: none;
    font-size: 1.625rem;
    margin-bottom: 8px;
}

#faq .question{
    font-weight: 400;
    margin-bottom: 1px;
    padding: 20px;
    position: relative;
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#faq .question:hover{
    background-color: #ffffff4d;
    /* opacity: 0.5; */
}

#faq .question .close_btn{
    position: absolute;
    font-size: 50px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease-in-out;
}

#faq .answer{
    overflow: hidden;
    background: #2d2d2d;
    max-height: 0;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

#faq .answer span{
    padding: 1.2rem;
    display: inline-block;
}

#faq .question.open + .answer{
    max-height: 1200px;
}

#faq .question.open > .close_btn{
    transform: rotate(45deg);
}

/* Footer Styling */
footer{
    padding: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
}